body {
  background-color: #FCF8FF;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dog-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px 5px 0 0;
  background-color: #845EC2;
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: 0.2s ease all;
  width: 300px;
}

.dog-button:hover {
  background-color: #9770d6;
}

.dog-image {
  width: 300px;
  border-bottom: 10px solid #845EC2;
}